/* Global dark theme */
body {
  text-align: center;
  background-color: black;
  color: azure;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.body-alignment {
  margin: 0px 5%;
}

#title {
  font-size: 60px;
  text-decoration: none;
  color: azure;
}